# Telegram Client & Performance
telethon
cryptg

# Environment & Configuration
python-dotenv

# System Info & Monitoring
psutil

# Networking & HTTP
requests
speedtest-cli

# Media & Image Processing (Stickers, Kang, WhatsApp)
Pillow

# Video & Media Downloaders (YouTube, TikTok)
yt-dlp
yt-dlp-get-pot
yt-dlp-get-pot-rustypipe

# Text Art & Fonts
pyfiglet
